* {
	font-family: 'Helvetica', 'Arial';
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background:#1b1c1d;
	color: white;
	padding: 12px;
	padding-left: 40px;
	padding-right: 40px;
}

.toggle {
	display: flex;
	margin-top: 1em;	
}

.gold-button {
	padding: 5px 20px 5px 20px;
	background: #fbbd08;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.silver-button {
	padding: 5px 20px 5px 20px;
	background: #767676;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.coin-container {	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;		
}

.coin-card {	
	min-width: 220px;
	margin: 1em;
	border: 1px solid black;
	border-radius: .285rem;
}

.item-description {
	max-width: 220px;
}

.coin-card img {
	max-width: 220px;
    height: auto;
}

.item-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5%;
	min-height: 220px;
}

.item-name, .item-price {
	margin-top: 5%;
	margin-bottom: 3%;	
}

.item-price {
	color: #aaa;
}

.add-items {
	display: flex;		
	margin: 5% 0;
	height: 40px;	
}

input[type=number]{
    width: 45px;
    font-size: 1em;    
} 

.add-to-cart {
	display: flex;
	font-size: .8em;
	line-height: .8em;
	font-weight: bold;	
	color: white;	
	align-items: center;
	justify-content: center;		
	background-color: #21ba45;
	padding: 5px 20px 5px 20px;	
}